.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background: linear-gradient(to bottom, #43c6ac, #f8ffaeb5);

  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form input {
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  border-color: transparent;
  outline: none;

  transition: border-color 250ms ease-in-out;
}
.search-form input:hover,
.search-form input:focus {
  border-color: blue;
}

.search-form {
  position: relative;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.4);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-btn svg,
.search-btn svg {
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;
}

.search-btn:hover svg,
.search-btn:focus svg {
  transform: scale(1.2);
}
