#back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;

  width: 50px;
  height: 50px;

  z-index: 9;
}
#back-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: #ccc;
  color: black;

  cursor: pointer;

  transform: scale(1);

  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

#back-top a:hover,
#back-top a:focus {
  outline: none;
  background-color: #ccc;
  color: black;

  transform: scale(1.2);
}

// .overlay.active ~ #back-top,
// .menu.is-open ~ #back-top {
//   display: none;
// }
