@import './common';
@import './header';
@import './images';
@import './scroll-up';
@import './btn';

body {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}
